html
  head
    meta(property='og:title', content='test')
    meta(property='fc:frame', content='vNext')
    meta(property='fc:frame:image', content=`${image}`)
    meta(property='og:image', content=`${image}`)
    meta(property='fc:frame:button:1', content='Prev')
    meta(property='fc:frame:button:2', content='Next')
    meta(property='fc:frame:post_url', content=`https://frames.nifty.li/collider-gallery?current=${current}`)
