html
  head
    meta(property='og:title', content='test')
    meta(property='fc:frame', content='vNext')
    meta(property='fc:frame:image', content=`https://frames.nifty.li/image/${message}`)
    meta(property='og:image', content=`https://frames.nifty.li/image/${message}`)
    meta(property='fc:frame:button:1', content='Submit')
    meta(property='fc:frame:input:text', content='Ask me anything')
